<h1>{{ __('This is a twig sample', true) }}</h1>

<div>{{ __('A twig content', true) }}</div>

{{ __('A twig string with "double quotes"', true) }}

{{ __('A twig string with \'single quotes\'', true) }}

{{ __d('DomainSampleD', 'A twig string in a domain') }}

{{ __d("DomainSampleD", "A twig string in a domain in double quotes") }}

{{ __d('DomainSampleD', 'A twig string in a domain with {0}') }}
